
on:
  workflow_call:
    inputs:
      deployment_environment:
        default: 'Production'
        required: false
        type: string

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: PR.yml
          workflow_conclusion: success

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }} # secret containing api token for app
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          deployment_environment: ${{ inputs.deployment_environment }}
          ###### Repository/Build Configurations - These values can be configured to match you app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "app"
          # api_location: ${{ env.API_LOCATION }}
          skip_app_build: true
          ###### End of Repository/Build Configurations ######