name: Deploy web app to Azure Static Web Apps stabilization environment

on:
  push:
    branches:
      - master

jobs:
  deploy-to-stabilize:
    uses: ./.github/workflows/deploy.yml
      with:
        deployment_environment: "stabilization"
        source_workflow: "PR.yml"